<div>

    <ul class="attributes-sort">
        {{#each attributes as |attribute|}}
            {{#if attribute.active }}
            <li class="attributes-sort-list"
                style="list-style: none; margin: 2px 0; padding: 2px; outline: 1px solid #000;"
                data-attribute-id="{{attribute.id}}"  draggable="true">
                {{attribute.name}}
            </li>
            {{/if}}
        {{/each}}
    </ul>

    <div class="submit">
      <span class="save-note"><i class="fas fa-circle-check"></i> {{localize "NONEX_IST_OD6S.SETTINGS_AUTOSAVE_NOTE"}}</span>
        <button type="button" name="close" data-action="closeForm">{{localize "Close"}}</button>
    </div>
</div>
