<div>
    {{#each settings as |setting s|}}
        <div class="form-group">
            <label for="{{setting.key}}">{{localize setting.name}}</label>
            <div class="form-fields">
                {{#if setting.choice}}
                    <select name="{{setting.key}}" id="{{setting.key}}">
                        {{selectOptions setting.choices selected=setting.value localize=true}}
                    </select>
                {{else}}
                    {{#if setting.actorType}}
                        <input type="hidden" name="{{setting.key}}" value="{{setting.value}}">
                        <input type="checkbox" name="{{setting.key}}"
                               {{#if (getActorTypeConfig setting.value 'character')}}checked{{/if}}
                               value="character" title="{{localize 'ACTOR.TypeCharacter'}}">
                        <input type="checkbox" name="{{setting.key}}"
                               {{#if (getActorTypeConfig setting.value 'npc')}}checked{{/if}}
                               value="npc" title="{{localize 'ACTOR.TypeNpc'}}">
                        <input type="checkbox" name="{{setting.key}}"
                               {{#if (getActorTypeConfig setting.value 'creature')}}checked{{/if}}
                               value="creature" title="{{localize 'ACTOR.TypeCreature'}}">
                        <input type="checkbox" name="{{setting.key}}"
                               {{#if (getActorTypeConfig setting.value 'vehicle')}}checked{{/if}}
                               value="vehicle" title="{{localize 'ACTOR.TypeVehicle'}}">
                        <input type="checkbox" name="{{setting.key}}"
                               {{#if (getActorTypeConfig setting.value 'starship')}}checked{{/if}}
                               value="starship" title="{{localize 'ACTOR.TypeStarship'}}">
                    {{else}}
                        {{#if (eq setting.filePicker "image")}}
                            <file-picker name="{{setting.key}}" value="{{setting.value}}" type="image"></file-picker>
                        {{else}}
                            {{#if (eq setting.inputType "checkbox")}}
                                <input type="checkbox" name="{{setting.key}}"
                                       data-dtype="{{setting.type.name}}"
                                       {{#if setting.value}}checked{{/if}}>
                            {{else}}
                                <input type="{{setting.inputType}}" name="{{setting.key}}"
                                       data-dtype="{{setting.type.name}}"
                                       value="{{setting.value}}">
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
            <p class="notes">{{{localize setting.hint}}}</p>
        </div>
    {{/each}}
    <div class="submit">
        <button type="submit" name="close" data-action="closeForm">{{localize "Submit"}}</button>
    </div>
</div>
