<div>
    {{#each settings as |setting s|}}
        <div class="form-group">
            <label for="{{setting.key}}">{{localize setting.name}}</label>
            <div class="form-fields">
                {{#if setting.choice}}
                    <select name="{{setting.key}}" id="{{setting.key}}">
                        {{selectOptions setting.choices selected=setting.value localize=true}}
                    </select>
                {{else}}
                    {{#if (eq setting.filePicker "image")}}
                        <file-picker name="{{setting.key}}" value="{{setting.value}}" type="image"></file-picker>
                    {{else}}
                        {{#if (eq setting.inputType "checkbox")}}
                            <input type="checkbox" name="{{setting.key}}" data-dtype="{{setting.type.name}}"
                                   {{#if setting.value}}checked{{/if}} data-field="{{setting.type.name}}">
                        {{else}}
                            <input type="{{setting.inputType}}" name="{{setting.key}}" data-dtype="{{setting.type.name}}"
                                   value="{{setting.value}}" data-field="{{setting.type.name}}">
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
            <p class="notes">{{{localize setting.hint}}}</p>
        </div>
    {{/each}}
    <div class="submit">
      <span class="save-note"><i class="fas fa-circle-check"></i> {{localize "NONEX_IST_OD6S.SETTINGS_AUTOSAVE_NOTE"}}</span>
        <button type="button" name="close" data-action="closeForm">{{localize "Close"}}</button>
    </div>
</div>
