<div class="nonex-ist-od6s metaphysics-roll-dialog">
    {{#each skills as |skill key|}}
    <div>
        <b>{{skill.skill.name}}</b>
        {{#if (eq (showWildDie) true)}}
            <div class="flexrow flex-group-left showWildDie" data-wilddie="{{wilddie}}">
                <label for="wilddie">{{localize 'NONEX_IST_OD6S.USE_WILD_DIE'}}</label>
                <input type="checkbox" data-dtype="Boolean" id="wilddie" name="wilddie"
                       {{#if ../wilddie}}checked{{/if}}>
            </div>
        {{/if}}
        <div class="flexrow flex-group-left">
            <div class="dice flexrow flex-group-left" data-dice="{{diceFromScore skill.system.total}}">
                <label for="dice">{{localize 'NONEX_IST_OD6S.DICE'}}</label>
                <input type="number" data-dtype="Number"
                       max="99" id="dice" name="dice" value="{{diceFromScore skill.system.total}}">
            </div>
            <div class="pips flexrow flex-group-left" data-pips="{{pipsFromScore skill.system.total}}">
                <label for="pips">{{localize 'NONEX_IST_OD6S.PIPS'}}</label>
                <input type="number" data-dtype="Number"
                       max="99" id="pips" name="pips" value="{{pipsFromScore skill.system.total}}">
            </div>
        </div>
        <div class="flexrow flex-group-left">
            <div class="bonusdice flexrow flex-group-left usebonus">
                <label for="bonusdice">{{localize 'NONEX_IST_OD6S.USE_BONUS_DICE'}}</label>
                <input type="number" data-dtype="Number"
                       max="99" id="bonusdice" name="bonusdice" value="{{bonusdice}}">
            </div>
            <div class="bonuspips flexrow flex-group-left usebonus" data-bonuspips="{{bonuspips}}">
                <label for="bonuspips">{{localize 'NONEX_IST_OD6S.USE_BONUS_PIPS'}}</label>
                <input type="number" data-dtype="Number"
                       max="99" id="bonuspips" name="bonuspips" value="{{bonuspips}}">
            </div>
        </div>
        <h3 class="dialog-section">{{localize "NONEX_IST_OD6S.PENALTIES"}}</h3>
        <div class="row">
            <div class="column">
                <div class="flexrow flex-group-left" title="{{localize 'NONEX_IST_OD6S.ACTION_PENALTY'}}">
                    <div class="actionpenalty flexrow flex-group-left">
                        <label for="actionpenalty">{{localize 'NONEX_IST_OD6S.ACTIONS'}}:</label>
                    </div>
                    <div class="flexrow flex-group-center actionpenalty"
                         data-actionpenalty="{{../actionpenalty}}">
                        <input type="number" data-dtype="Number"
                               max="99" id="actionpenalty" name="actionpenalty"
                               value="{{../actionpenalty}}"><span class="dice-suffix">D</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="flexrow flex-group-left" title="{{localize 'NONEX_IST_OD6S.WOUND_PENALTY'}}">
                    <div class="woundpenalty flexrow flex-group-left">
                        <label for="woundpenalty">{{localize 'NONEX_IST_OD6S.WOUNDS'}}:</label>
                    </div>
                    <div class="flexrow flex-group-center woundpenalty"
                         data-woundpenalty="{{../woundpenalty}}">
                        <input type="number" data-dtype="Number"
                               max="99" id="woundpenalty" name="woundpenalty"
                               value="{{../woundpenalty}}"><span class="dice-suffix">D</span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="flexrow flex-group-left" title="{{localize 'NONEX_IST_OD6S.OTHER_PENALTY'}}">
                    <div class="otherpenalty flexrow flex-group-left">
                        <label for="otherpenalty">{{localize 'NONEX_IST_OD6S.OTHER'}}:</label>
                    </div>
                    <div class="flexrow flex-group-center otherpenalty"
                         data-otherpenalty="{{../otherpenalty}}">
                        <input type="number" data-dtype="Number"
                               max="99" id="otherpenalty" name="otherpenalty"
                               value="{{../otherpenalty}}"><span class="dice-suffix">D</span>
                    </div>
                </div>
            </div>
        </div>
        {{#unless (isHideAllRolls)}}
            <div class="flexrow flex-group-left">
                <div class="flexrow flex-group-left difficultylevel" data-difficultylevel="{{difficultylevel}}"
                     data-skill="{{key}}">
                    <label for="difficultylevel">{{localize 'NONEX_IST_OD6S.DIFFICULTY'}}</label>
                    <select name="difficultylevel" id="difficultylevel">
                        {{#each (getDifficulties) as |diff key|}}
                            <option value="{{key}}" {{#if (eq key ../skill.difficulty)}}selected{{/if}}>
                                {{localize key}}
                            </option>
                        {{/each}}
                    </select>
                </div>
                {{#if (eq difficultylevel "NONEX_IST_OD6S.DIFFICULTY_CUSTOM")}}
                    <div class="flexrow flex-group-left difficulty" data-difficulty="{{difficulty}}">
                        <label for="difficulty">{{localize "NONEX_IST_OD6S.DIFFICULTY_CUSTOM_LABEL"}}</label>
                        <input type="number" data-dtype="Number"
                               max="99" id="difficulty" name="difficulty" value="{{difficulty}}"
                               placeholder="10">
                    </div>
                {{/if}}
            </div>
        {{/unless}}
    </div>
        <hr>
    {{/each}}
    <footer class="form-footer">
        <section class="sheet-mode roll-mode">
            <div class="flexrow flex-group-left sheetmode">
                <label for="rollmode">{{localize 'NONEX_IST_OD6S.ROLL_MODE'}}</label>
                <select name="rollmode" id="rollmode">
                    <option value="public" {{#if (eq rollmode "public")}}selected{{/if}}>{{localize "CHAT.MODES.public"}}</option>
                    <option value="gm"     {{#if (eq rollmode "gm")}}selected{{/if}}>{{localize "CHAT.MODES.gm"}}</option>
                    <option value="blind"  {{#if (eq rollmode "blind")}}selected{{/if}}>{{localize "CHAT.MODES.blind"}}</option>
                    <option value="self"   {{#if (eq rollmode "self")}}selected{{/if}}>{{localize "CHAT.MODES.self"}}</option>
                </select>
            </div>
        </section>
        <button type="submit" class="dialog-submit" data-action="submit">{{localize "NONEX_IST_OD6S.ROLL"}}</button>
    </footer>
</div>
